@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Inter,sans-serif;
  background:#F5F7FA;
  color:#111827;
}

button{
  cursor:pointer;
}

a{
  text-decoration:none;
  color:inherit;
}